* {
    border: 0;
    padding: 0;
    margin: 0;
}
*,*:before,*:after{
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}
:focus,:active{outline: none;}
a:focus,a:active{outline: none;}

nav,footer,header.aside{display: block;}

html,body{
    height: 100%;
    width: 100%;
    font-size: 100%;
    line-height: 1;
    font-size: 14px;
    -ms-text-size-adjust: 100%;
    -moz-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
}
input,button,textarea {font-family: inherit;}

input::-ms-clear{display: none;}
button{cursor: pointer;}
button::-moz-focus-inner{padding: 0;border: 0;}
a, a:visited{text-decoration: none;}
a:hover{text-decoration: none;}
ul li{list-style: none;}
img{vertical-align: top;}

h1,h2,h3,h4,h5,h6{font-size: inherit;font-weight: 400;}
/* конец обнул */
.wrapper {
    background-color: beige;
}
.window {
    
    border: solid 2px grey;
    margin-top: 50px;
    display: flex;

    flex-wrap: wrap;
    flex: 1 1 auto;
    flex-direction: column;
    align-items: stretch;
    /* почему не раскидывает контент во вертикали поштучно, а постоянно вместе */
    justify-content: space-between;

    height: 300px;
}
.message1 {
    border: solid 1px black;
}
.message2 {
    border: solid 1px black;
    display: flex;
    

}
.message3 {
    border: solid 1px black;
    -align-self: flex-start;

}
.message4 {
    border: solid 1px black;
    -align-self: center;


}