* {
    border: 0;
    padding: 0;
    margin: 0;
}
*,*:before,*:after{
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}
:focus,:active{outline: none;}
a:focus,a:active{outline: none;}

nav,footer,header.aside{display: block;}

html,body{
    height: 100%;
    width: 100%;
    font-size: 100%;
    line-height: 1;
    font-size: 14px;
    -ms-text-size-adjust: 100%;
    -moz-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
}
input,button,textarea {font-family: inherit;}

input::-ms-clear{display: none;}
button{cursor: pointer;}
button::-moz-focus-inner{padding: 0;border: 0;}
a, a:visited{text-decoration: none;}
a:hover{text-decoration: none;}
ul li{list-style: none;}
img{vertical-align: top;}

h1,h2,h3,h4,h5,h6{font-size: inherit;font-weight: 400;}

.wrapper {
    margin: 0px 0px 0 25px;
}
.container {
    border-radius: 25px;
    background-color: bisque;
    display: flex;
    justify-content: space-between;
    flex-flow: wrap;
}
.box1, .box2, .box3 {
    height: 200px;
    width: 200px;
    border: dotted 10px yellow;
}
.box1 {
    background-color: red;
    transition: all 0.9s;
}
.box2 {
    background-color: black;
}
.box3 {
    background-color: green;
}
.box1:hover {
    border: solid 5px grey;
    background: linear-gradient(90deg, turquoise, teal);
}
.input {
    text-align: center;
    font-size: 40px;
    border: solid 1px blue;
    height: 150px;
    transition: all 2s;
}
.input:focus {
    box-shadow: 1px 1px 20px 1px rgb(201, 250, 6);
    height: 100px;
}